<div class="col-10 offset-1 about">
  <h1>About Quotey</h1>
  <p>Quotey is built by Thet Htut Oo. </p>
<p>
  If you want to learn how to code in ruby on rails, visit my page.
</p>
</div>
<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'tho.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Thet Htut Oo</h2>
      <br />
      <p>
        Thet Htut Oo is a web developer specialiasing in ruby on rails. He is
        a founder of burmaclick , designburma team. He is also interested in marketing
        and creating campaigns to promote businesses online.
      </p>
    </div>
  </div>
  <br class="clear" />
<br />
<br />
<br />
<br />
