<h2>
  <span>My Quote/ No. <%= @quote.id %></span>
  Learn the <u>best useful quotes</u> you can use in life!
</h2>
<br>
<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>
<br class="clear" />
<br />
<br />
<br />
